<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt lại mật khẩu</title>
  </head>

  <body
    style="margin: 0; font-family: Arial, sans-serif; background-color: #f6f6f6"
  >
    <div
      style="
        background-color: #ffffff;
        border: 1px solid #dddddd;
        height: 100vh;
      "
    >
      <div style="background-color: #003580; padding: 12px">
        <div
          style="
            width: 580px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <a
            th:href="@{${webUrl}}"
            style="color: white; font-weight: 700; font-size: 22px"
          >
            Booking.com
          </a>
          <div style="display: flex; align-items: center">
            <span
              style="font-size: 14px; margin-right: 10px; color: white"
              th:text="${email}"
            ></span>
          </div>
        </div>
      </div>

      <div
        style="
          width: 580px;
          margin: auto;
          font-size: 14px;
          color: #333;
          padding-top: 20px;
        "
      >
        <h2 style="color: #333333">Bạn đã quên mật khẩu?</h2>
        <p>
          Đừng lo – đây là chuyện thường!<br />
          Bạn chỉ cần nhấn vào nút bên dưới để chọn mật khẩu mới. Thật dễ dàng
          phải không?
        </p>
        <div style="padding-top: 16px; text-align: center">
          <a
            th:href="@{${resetLink}}"
            style="
              background-color: #0071c2;
              color: #ffffff;
              padding: 10px 64px;
              text-decoration: none;
              border-radius: 5px;
              font-size: 14px;
              display: block;
            "
            >Cài đặt lại mật khẩu</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
